vlans:
{% for vl in vlans.response  %}
{%  for vxlan in vxlans.stdout_lines[0] %}
{%   if vxlan.split()[1] == '20' + "%.4d"|format(vl.vlan_id|int) or vxlan.split()[1] == '30' + "%.4d"|format(vl.vlan_id|int) %}
{%    set vni = vxlan.split()[1] %}
{%   endif %}
{%   if loop.last %}
{%    for l3_if_name,l3_if in ansible_net_interfaces |dictsort %}
{%     if l3_if_name == 'Vlan' + (vl.vlan_id) and l3_if.ipv4 is defined %}
{%      set l3_if_net = l3_if.ipv4.address + '/' + l3_if.ipv4.masklen %}
{%       for info in svi_info.results  %}
{%        if info.stdout_lines is defined %}
{%         if info.stdout_lines[0][0] == 'interface ' + (l3_if_name) %}
{%          for ex_info in info.stdout_lines[0]  %}
{%           if 'anycast' in ex_info %}
{%            set anycast = "yes" %}
{%           elif 'dhcp' in  ex_info  %}
{%            set dhcp = "yes" %}
{%           endif %}
{%           if loop.last %}
{%            set l3_vl_info_1 = ' - { id: "' + vl.vlan_id + '", ' + 'name: "' + vl.name + '"' %}
{%            if vni is defined %}
{%             set l3_vl_info_2 = l3_vl_info_1 + ', vni: "' + vni + '"' %}
{%            else %}
{%             set l3_vl_info_2 = l3_vl_info_1  %}
{%            endif %}
{%            set l3_vl_info_3 = l3_vl_info_2 + ', ip: "' + l3_if_net + '"' %}
{%            if dhcp is defined %}
{%             set l3_vl_info_4 = l3_vl_info_3 + ', dhcp: "yes"' %}
{%            else %}
{%             set l3_vl_info_4 = l3_vl_info_3 %}
{%            endif %}
{%            if anycast is defined %}
{%             set l3_vl_info_5 = l3_vl_info_4 + ', anycast: "yes"' %}
{%            else %}
{%             set l3_vl_info_5 = l3_vl_info_4 %}
{%            endif %}
{%            set l3_vl_info_6 = l3_vl_info_5 + ' }'  %}
{{ l3_vl_info_6  }}
{%           endif %}
{%          endfor %}
{%         endif %}
{%        endif %}
{%       endfor %}
{%     endif %}
{%     if loop.last %}
{%      if l3_if_net is not defined %}
{%       set l2_vl_info_1 = ' - { id: "' + vl.vlan_id + '", ' + 'name: "' + vl.name + '"' %}
{%       if vni is defined %}
{%        set l2_vl_info_2 = l2_vl_info_1 + ', vni: "' + vni + '"' %}
{%       else %}
{%        set l2_vl_info_2 = l2_vl_info_1 %}
{%       endif %}
{%       set l2_vl_info_3 = l2_vl_info_2 + ' }'  %}
{{ l2_vl_info_3  }}
{%      endif %}
{%     endif %}
{%    endfor %}
{%   else %}
{%   endif %}
{%  endfor %}
{% endfor %}
